* {
font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; !important;
}

html, body {
    height:100%;
}

#entrance {
    display:none;
}

div#HomePageHeader {
font-family: Baskerville;
font-size: 40px;
text-align:left;
font-weight: normal;
}

div #exhinfobtnHome{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -218px;
    margin-top: -150px;
}

div #msminfobtnHome{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: 3px;
    margin-top: -150px;
}

div #bookticketsbtn{
    position: absolute;
    top: 75%;
    left: 22%;
    margin-left: -50px;
    margin-top: -150px;
}

div #yourbasketbtn{
    position: absolute;
    bottom: 10%;
    left: 17.5%;
    margin-left: -50px;
    margin-top: -150px;
}

div #clearbasketbtn{
    position: absolute;
    top: 102%;
    left: 4.5%;
    margin-left: -50px;
    margin-top: -150px;
    width:500px;
    height:300px;
}

div #proceedtocheckoutbtn{
    position: absolute;
    top: 109%;
    left: 4.5%;
    margin-left: -50px;
    margin-top: -150px;
    width:500px;
    height:300px;
    
}

.home-content {
    background : transparent url("Images/Museum01.jpg");
    background-position:center; 
        background-repeat: no-repeat;
        width: 100%; 
        height: 100%; 
        position: fixed; 
        z-index: 0;
}

.quiz-content {
    background : transparent url("Images/parthenon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
}

div #table_error{
font-family:Helvetica; 
font-weight: normal; 
font-size:small;
color:#3BB9FF;
text-align:center;
}

#table1, #table2 {float:left;width:900px;}

#table3 {width:500px;}

td.first{ width:40%;}

td.second{ width:60%;}

td.t3first{ text-align:left; width:40%; padding-bottom: 1em;}

td.t3second{ text-align:right; width:60%; padding-bottom: 1em;}

th.thheader{font-family:Helvetica; font-weight: normal; font-size:large; color:black}

th.thfont{font-family:Helvetica; font-weight: normal; color:gray; vertical-align:middle;}

td.tdfontsmall{font-family:Helvetica; font-weight: normal; font-size:small; color:black; text-align:center; vertical-align:middle;}

td.tdfont{font-family:Helvetica; font-weight: normal; color:black; text-align:center; vertical-align:middle;}

#totals{font-family:Helvetica; font-weight: normal; font-size:large; color:black}

.ui-icon-artefact-list {
    background: url("whhg_icons_16/computer&mobile-16/White/icon-list.png") no-repeat 50% 50% !important;
    moz-border-radius:0px;
   -webkit-border-radius:0px;
   border-radius:0px;
   width:16px;
   height:16px;
}

.ui-icon-ticket-prices {
    background: url("whhg_icons_16/business-16/White/icon-pound.png") no-repeat 50% 50% !important;
    moz-border-radius:0px;
   -webkit-border-radius:0px;
   border-radius:0px;
   width:16px;
   height:16px;
}

.ui-icon-useful-links {
    background: url("whhg_icons_16/time&location-16/White/icon-globe.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:16px;
   height:16px;
}

.ui-icon-left-arrow{
    background: url("whhg_icons_16/menu-16/White/icon-chevron-left.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:16px;
   height:16px;
}

.ui-icon-right-arrow{
    background: url("whhg_icons_16/menu-16/White/icon-chevron-right.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:16px;
   height:16px;
}

.ui-icon-edit{
    background: url("whhg_icons_16/menu-16/White/icon-edit.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:16px;
   height:16px;
}

.ui-icon-plus{
    background-color:#4CD964;
}

.ui-icon-minus{
    background-color:#FF3B30;
}

.ui-icon-exhibit-infosmall{
    background: url("whhg_icons_16/time&location-16/White/icon-greekcolumn.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:16px;
   height:16px;
}

.ui-icon-museum-infosmall{
    background: url("whhg_icons_16/time&location-16/White/icon-parthenon.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:16px;
   height:16px;
}

.ui-icon-getting-here{
    background: url("whhg_icons_16/time&location-16/White/icon-navigation.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:16px;
   height:16px;
}

.ui-icon-home{
    background: url("whhg_icons_16/hosting-16/White/icon-home.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:16px;
   height:16px;
}

.ui-icon-play-quiz{
    background: url("whhg_icons_16/development-16/White/icon-zendframework.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:16px;
   height:16px;
}

.ui-icon-view-favs{
    background: url("whhg_icons_16/development-16/White/icon-pligg.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:16px;
   height:16px;
}

.ui-icon-exhibit-location{
    background: url("whhg_icons_16/time&location-16/White/icon-placeios.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:16px;
   height:16px;
}

.ui-icon-museum-info {
    background: url("whhg_icons_32/time&location-32/White/icon-parthenon.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:32px;
   height:32px;
}
.ui-icon-exhibit-info {
    background: url("whhg_icons_32/time&location-32/White/icon-greekcolumn.png") no-repeat 50% 50% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
   border-radius:0px
   width:32px;
   height:32px;
}

.tooltip {
padding: 5px;
font-size: 11px;
opacity: 0.85;
filter: alpha(opacity=85);
background-repeat: no-repeat;
background-image: url(tooltip-js/tooltip.gif);
}
.tooltip-inner {
padding: 5px 10px;
max-width: 200px;
pointer-events: none;
color: white;
text-align: center;
text-shadow:none;
background-color: black;
border-radius: 3px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.tooltip-bottom {
background-position: top center;
}
.tooltip-top {
background-position: bottom center;
}
.tooltip-left {
background-position: right center;
}
.tooltip-right {
background-position: left center;
}

h1,h2,h3,h4,h5,h6 {font-weight: bold;}

h1.quizName {
    text-align: center;
    font-size: 40px;
    margin: 0 0 20px;
    color: #81F3FD;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    

}
h2 {
    font-size: 22px;
    margin: 15px 0;
    text-shadow: none;
    
}

h3 {
    font-size: 20px;
    margin: 15px 0 10px;
    color: black;
    text-shadow: none;
    
}

h4 {
    font-size: 16px;
    margin: 10px 0;
    text-shadow: none;
}
h5 {
    font-size: 14px;
    margin: 10px 0 5px;
    text-shadow: none;
}
h6 {
    font-size: 12px;
    margin: 5px 0;
    text-shadow: none;
}

.button {
    position: absolute;
    top: 60%;
    left: 30%;
    width: 200px;
    padding: 5px 15px;
    color: #4CD964;
    background-color:#4CD964;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	text-decoration: none;
    color: white;
    font-family: Helvetica;
    text-align: center
    
}
.button:hover {
    background-color:#FFCC00;
}

.startQuiz {
    margin-top: 40px;
}

.tryAgain {
    margin: 20px 0;
}

/* clearfix */
.quizArea, .quizResults {
    zoom: 1;
}
.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
    
}
.quizArea:after, .quizResults:after {
    clear: both;
}

.questionCount {
    font-size: 20px;
    text-align: center;
    text-shadow: none;
    font-family: Helvetica;


}
.questionCount span {
    font-weight: bold;
    color: #81F3FD;
    text-shadow: none;
}

ol.questions {
    margin-top: 20px;
    margin-left: 0;
    border-style:solid;

    border-radius: 16px;
    padding: 8px;
    margin: 20px;
    float: left;
    background: #C7C7CC;

   
}
ol.questions li {
    margin-left: 0;
}

ul.answers {
    margin-left: 20px;
    margin-bottom: 20px;
    
}

ul.responses li {
    margin: 10px 20px 20px;
}
ul.responses li p span {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
ul.responses li.correct p span {
    color: #6C9F2E;
    text-shadow: none;
}ul.responses li.incorrect p span {
    color: #B5121B;
    text-shadow: none;
}

.quizResults h3 {
    margin: 0;
    text-shadow: none;
}
.quizResults h3 span {
    font-weight: normal;
    font-style: italic;
    text-shadow: none;
}
.quizResultsCopy {
    clear: both;
    margin-top: 20px;
    text-shadow: none;
}


/* delete button */

      #deletebutton {
        padding: 6px 8px;
        border-radius: 3px;
        border: solid 1px #FF3B30;
		background-color:#FF3B30;
        color: #fff;
        font: 14px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
      }
      
      /* delete button */

      #cancelbutton {
        padding: 6px 8px;
        border-radius: 3px;
        border: solid 1px #C7C7CC;
		background-color:#C7C7CC;
        color: #fff;
        font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
      }
      
input[type='date'], textarea, select {

    border: solid 1px #999;

}

input[type='date'].focus, textarea.focus, select.focus {

    border-color: #000 !important;

}

input[type='date'].invalid, textarea.invalid, select.invalid {

    border-color: red;

}

input[type='date'].inactive, textarea.inactive, select.inactive, option.inactive {

    color: #999;

    font-style: italic;

}

input[type='date'].required, textarea.required {

    background: url(required-input.png) right 5px no-repeat;

}
