.borderRadius{-moz-border-radius:7px; border-radius:70px; !important}
.borderRadiusTp{-moz-border-radius:7px 7px 7px 7px; border-radius:7px 7px 7px 7px; !important}
.borderRadiusBtm{-moz-border-radius:7px 7px 7px 7px; border-radius:7px 7px 7px 7px; !important}

.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default; !important}
.ddcommon ul{padding:0;margin:0; !important}
.ddcommon ul li{list-style-type:none; !important}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; !important}
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:0 none #c3c3c3; !important}

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;!important
}
.ddcommon .clear{clear:both !important}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888; !important}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none; !important}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline; !important}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888; !important}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888 !important}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px; !important}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0; !important}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute; !important}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:4px; !important}
.ddcommon .ddArrow:hover{background-position:0 100%; !important}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100% !important}
.ddcommon .ddTitle .ddTitleText{display:block; !important}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0; !important}
.ddcommon .ddTitle .description{display:block; !important}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left !important}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999 !important}
.ddcommon .ddChild li{clear:both; !important}
.ddcommon .ddChild li .description{display:block; !important}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left !important}
.ddcommon .ddChild li.optgroup{padding:0; !important}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:normal; font-style:italic !important}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px !important}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0; !important}

/*************** default theme **********************/
.dd{border:1px gray;}
.dd .ddArrow{width:16px;height:16px; margin-top:-8px; background:url(../../images/msdropdown/skin1/dd_arrow.gif) no-repeat; !important}
.dd .ddArrow:hover{background-position:0 100%; !important}
.dd .ddTitle{color:#000; background-color:#F9F9F9; border:1px solid #A5A5A5; text-shadow:none; repeat-x left top; !important}
.dd .ddTitle .ddTitleText{font-family:Helvetica; font-weight: normal; text-align:left; color:#1F1F21; padding:5px 20px 5px 5px; !important}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0; !important}
.dd .ddTitle .ddTitleText img{padding-right:5px; !important}
.dd .ddChild{border:1px solid #c3c3c3; background-color:#fff; left:-1px; !important}
.dd .ddChild li{font-family:Helvetica; font-weight: normal; text-align:left; padding:5px; background-color:#fff; border-bottom:1px solid #c3c3c3; !important}
.dd .ddChild li .ddlabel{color:#1F1F21; !important}
.dd .ddChild li.hover{color:#007AFF; text-shadow:none; background-color:#007AFF !important}
.dd .ddChild li img{padding:0 6px 0 0; !important}
.dd .ddChild li.optgroup{padding:0; !important}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic !important}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px !important}
.dd .ddChild li.selected{color:red; !important}
